<template name="changePass">
    <div class="container" style="width: 40%">
    <div class="col-xs-4" style="width: 100%; background-color: deeppink">
        <div class="form-group">
            <p>
            <p class="text-center">Enter Old Password</p>
            <input type="password" class="form-control" id="oldPass" placeholder="Old Password" style="text-align: center">
            </p>
        </div>
        <div class="form-group">
            <p>
            <p class="text-center">Enter New Password</p>
            <input type="password" class="form-control" id="newPass" placeholder="New Password" style="text-align: center">
            </p>
        </div>
        <div class="form-group">
            <p>
            <p class="text-center">Enter New Password Again!</p>
            <input type="password" class="form-control" id="newPass1" placeholder="New Password" style="text-align: center">
            </p>
        </div>
        <div class="form-group">
            <p class="text-center">
            <button type="button" class="btn btn-success btn-lg" id="confButton" style="width: 40%">OK</button>
            </p>
        </div>

    </div>
    </div>
</template>
