<template name="dashboard">
  <div class="row">
    <div id="js-todo-column" class="col-xs-6 col-md-4 ">
      <h4>ToDo</h4>
          {{#each pendingOrders}}
            {{>order}}
          {{/each}}
    </div>
    <div id="js-inprogress-column" class="col-xs-6 col-md-4">
        <h4>In Progress</h4>
        {{#each inprogressOrders}}
            {{>order}}
        {{/each}}
    </div>
    <div id="js-done-column" class="col-xs-6 col-md-4">
        <h4>Done</h4>
        {{#each doneOrders}}
            {{>order}}
        {{/each}}
    </div>
  </div>
</template>

<template name="order">
    <div class="js_order_box bg-success">
        <button class="edit">Edit</button>
        <strong>{{bike}}</strong>
        <span>{{phone}}</span>
        <span>Troubles</span>
        <div class="troubles">

        {{#each troublesUnfinished}}
            <p style="color: red">{{this}}</p>
            <button class="destroy {{this}}" style="color: red; height: 15px; width: 15px">X</button>
            {{/each}}
        {{#each troublesFinished}}
            <p style="color: black">{{this}}</p>
            <button class="destroy {{this}}" style="color: red; height: 15px; width: 15px">X</button>
        {{/each}}

        </div>
    </div>
</template>
