<template name="dashboard">
    {{#if currentUser}}

    {{else}}
        <div id="logBlock" style="width: 50%; height: 50px">

    <button type="button" id="loginButton" class="btn btn-success btn-lg" style="float: right">login</button>
        </div>
    <div id="clicked" style="display: none">
        {{>login}}
    </div>


    {{/if}}
    <div class="row">
        <div id="js-todo-column" class="col-xs-6 col-md-4 ">
            <h4>ToDo</h4>
            {{#each pendingOrders}}
                {{>order}}
            {{/each}}
        </div>
        <div id="js-inprogress-column" class="col-xs-6 col-md-4">
            <h4>In Progress</h4>
            {{#each inprogressOrders}}
                {{>order}}
            {{/each}}
        </div>
        <div id="js-done-column" class="col-xs-6 col-md-4">
            <h4>Done</h4>
            {{#each doneOrders}}
                {{>order}}
            {{/each}}
        </div>
    </div>
</template>

<template name="order">
    <dl>
        <div class="js_order_box bg-success">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <dt>
                        <strong>{{bike}}</strong>
                        <span>{{phone}}</span>
{{#if currentUser}}
        <button class="edit btn btn-default btn btn-primary btn-sm">Edit
                        </button>
{{/if}}
                        {{#if troublesUnfinished}}
                            {{else}}

                            <button id="archive" class="btn btn-default btn btn-primary btn-sm">Archive</button>
                            {{/if}}
                    </dt>
                </div>
{{#if currentUser}}<div class="troubles">
                    <div class="panel-body">

                        {{#each troublesUnfinished}}
                            <dd>
                                <p class="orderedTroubles" style="color: red">{{this}}</p>

                            </dd>
                        {{/each}}
                        {{#each troublesFinished}}
                            <blockquote>
                                <dd>
                                    <span class="orderedTroubles"
                                          style="color: black">{{this}}</span>
                                </dd>
                            </blockquote>
                        {{/each}}
                    </div>
                </div>
{{else}}
    <div class="panel-body">

        {{#each troublesUnfinished}}
            <dd>
                <p style="color: red">{{this}}</p>

            </dd>
        {{/each}}
        {{#each troublesFinished}}
            <blockquote>
                <dd>
                    <span style="color: black">{{this}}</span>
                </dd>
            </blockquote>
        {{/each}}
    </div>

{{/if}}
            </div>
        </div>
    </dl>
</template>
