<template name="login">
    <div class="row">
<div class="email form-group has-success has-feedback col-xs-3">
    <input type="text" class="loginTempl form-control" id="email"  placeholder="Email"></div>
    <div class="pass form-group has-success has-feedback col-xs-3">
    <input type="password" class="loginTempl form-control" id="pass"  placeholder="Password"></div>
    <button id="login" class="btn btn-primary btn-lg active loginTempl">login</button>
        <button id="forgotPass" class="btn btn-primary btn-lg active">Forgot Password</button>
</div>

</template>
